
<div class="details"  [@slideInOut]>

    <button (click)="closeDetails()" id="close" class="button">CLOSE</button>     
    

    <h1>{{hourlyWeatherReport.timezone}}</h1>


    <p> Over the next four hours its going to be: </p> 


<p *ngFor="let report of hourlyWeatherReport.hourly.slice(0, 4)">
   
    
At {{report.dt | epochtoLocalDateTime }} we expect the temperature to be {{report.temp | toCelcius}}° and it will be {{report.weather[0].main}}, so expect to see {{report.weather[0].description}}

</p>



    

</div>

