.details {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    -webkit-animation: open 2s cubic-bezier(.39, 0, .38, 1);
    border-radius: 10px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
    background: whitesmoke;
    right: 0;
    width: 37rem;
    padding: 2rem;
}


