
<div class="weather__content">
    <div class="card__section">

    <app-weather-card class="weather_card_component"  [weatherData] = "weatherData" *ngFor="let weatherData of cities$ | async "  (click)="getHourlyWeatherInfo(weatherData)" ></app-weather-card>


</div>


<app-weather-details  [hourlyWeatherReport]= "hourlyWeatherReport" (onCloseClick)="closeDetails(false)" *ngIf="toggleDetailsView" ></app-weather-details>

</div>




