@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');




.weather_card_component {
    margin: 1%;
    cursor: pointer;
}


.weather__content {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}
.card__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;

}


