<div class="card" >

    <h2>{{weatherData.name}}</h2>
    <h3>{{weatherData.weather[0].main}}<span>Wind {{weatherData.wind.speed}}km/h</span></h3>
    <h1>{{weatherData.main.temp | toCelcius}}°</h1>
    <img class="weather_image" [src]="weatherData.weather[0].icon | imageUrl">
        

  </div>